body{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
    background-color:cornsilk;
}
        h1{
            text-align: center;
            text-decoration: underline;
        }
        #videocontainer{
            display : flex;
            justify-content:space-between;
            flex-wrap: wrap;
        }
        #indianmap{
            position:relative;
            left : 200px;
        }
        #mapcontainer{
            display:flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }